{%extends 'front/about.html'%}
{%load static%}
{%block body%}

<section id="title_breadcrumbs_bar" class="bokah_enabled cap"
	style="background-image:url({%static 'assets/media/gallery/691153765_Untitled_design-4.png'%})">
	<div class="container">
		<div class="title-text cap">
			<h2 class="text-decor">Connect</h2>
		</div>
		<div class="tbb_breadcrumbs cap">
			<div class="breadcrumbs">
				<div class="breadcrumbs_inner"><a href="/">Home</a> / <span class="current">Connect</span>
				</div>
			</div>
		</div>
	</div>
</section>

{%if msg%}
<script>
   alert("Your Query has been submited successfully!")
</script>
{%endif%}
<section class="section" id="section1">
   <div class="custom-container">
	  <div class="col-md-12">
		  <div class="row contact-details">
               <div class="col-md-7">
                  <div class="details">
                     <h2>Office Address</h2>
                     <p><span><i class="fa fa-map-marker"></i></span> D-22, Sector-03, Noida - 201301   
                     </p>
                     <p><span><i class="fa fa-phone"></i></span> +91 9999127533</p>
                     <p><span><i class="fa fa-envelope"></i></span> info@webcreativesolution.in</p>
                  </div>
               </div>
               <div class="col-md-5">
                  <img src="{%static 'assets/images/c1.jpg'%}" style="height:200px;width:100%">
               </div>
               
               
            </div>	
	  </div>	
	  
	  <div class="col-md-12">	
      <div data-animate="fadeInUp" class="fadeInUp animated">
         <div class="col-md-6 withoutpad">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.3029816415687!2d77.0811815255544!3d28.500530726400388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19433dbeffe1%3A0x9c2ff4c01544afce!2sUdyog%20Vihar%20Phase%20V%2C%20Udyog%20Vihar%2C%20Sector%2019%2C%20Gurugram%2C%20Haryana%20122022!5e0!3m2!1sen!2sin!4v1680597433926!5m2!1sen!2sin" width="100%" height="630" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	    </div>
      </div>
      <div data-animate="fadeInUp" class="fadeInUp animated">
         <div class="col-md-6" style="background-color:#0a4b6b">
            <div class="row contact-form">
               <h2>connect with us</h2>
               <p>We like to create things with fun, open-minded people. Feel free to say hello.</p>
               
               <form  method="post">
                  {%csrf_token%}
                  
                  <div class="form-group">
                     <input type="text" class="form-control" name="name" minlength="3" placeholder="Name*" required>
                  </div>
                  <div class="form-group">
                     <input type="email" class="form-control" name="email"  placeholder="Email* "required>
                     
                  </div>
                  <div class="form-group">
                     <input type="number" class="form-control" name="phone" min="1000000000"max="9999999999" placeholder="Phone*"required>
                     
                  </div>
                  <div class="form-group">
                     <textarea type="text" class="form-control" name="message"  placeholder="Message" style="height:100px;"></textarea>
                  </div>
                  <div class="form-group">
                     <button  class="btn btn-2"  type="submit">Submit</button>
                  </div>
               </form>
               
            </div>
         </div>
      </div>
	  </div>
   </div>
</section>
{%endblock%}